/Exercicio00/nbproject/private/
Exercicio00/build.xml
Exercicio00/manifest.mf
Exercicio00/nbproject/project.xml
Exercicio00/nbproject/project.properties
Exercicio00/nbproject/build-impl.xml
Exercicio00/nbproject/genfiles.properties
/Exercicio00/build/